.login {
  height: 90vh;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  height: 45vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.login__textBox {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.email__invalid:focus {
  border: 2px solid red;
  outline: none;
}

.login__btn, .login__inactive {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
}

.login__btn {
  cursor: pointer;
  background-color: #333;
}

.login__inactive {
  background-color: #ddd;
}

.login__google {
  background-color: #4285f4;
}

.login div {
  margin-top: 7px;
}

input, button {
  border-radius: 5px
}