.profile {
  height: 80vh;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__container {
  font-size: 15px;
  width: 180px;
  height: 230px;
  border-radius: 10px;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.input {
  margin: 10px 0 10px;
  width: 128px;
  text-align: center;
  padding: 10px;
}

.subProfile {
  display: flex;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

.subLeft {
  width: 50%;
  text-align: left;
  padding-left: 5px;
}

.subRight {
  margin-top: 5px;
  width: 50%;
  cursor: pointer;
}

.dropdown {
  width: 50px;
}

.yearPicked {
  margin-right: 10px;
}

.profile__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  background-color: #bbb;
}

.profile__btn:active {
  background-color: #aaa;
  transition: .2s;
  border-color: #666;
}

.pointer {
  cursor: pointer;
  color: black;
}