.App {
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button, .buttonShort, .buttonBig {
  margin: 0 5px 5px 0;
  background-color: #ddd;
  border-radius: 5px;
  border: 1px solid #555;
  height: 24px;
  cursor: pointer;
}

.button {
  width: 80px;
}

.pointer {
  cursor: pointer;
}

.buttonShort {
  width: 50px;
}

.buttonBig {
  width: 150px;
  height: 35px;
  margin: 0 0 5px;
}

.w50 {
  width: 500px;
  display: flex;
  float: left;
}

.mt5 {
  margin-top: 5px;
}

.button:active, .buttonShort:active, .buttonBig:active {
  background-color: #bbb;
  border: 1px solid #000;
  box-shadow: 1px 1px #777;
}

.buttonDiv {
  display: flex;
}


.App ._space3d span {
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background: #555;
  box-shadow: inset 5px 0 10px #000;
}

.App ._space3d ._3dface {
  box-shadow: none;
  border-radius: 40px;
}

.App ._space3d .defaultFace {
  background: #fff;
  box-shadow: inset 0 0 40px #ccc;
}